html {
	font-family: Tahoma;
}
#nav #deals {
	height: 35px;
	background-color:#FA6938;
	margin: 0;
	font-size: 14px;

}
#nav #deals li {
	float: left;

	padding-right: 15px;
	position: relative;
	top:8px;
	color: white;
}

#logo {
	float: left;
	width: 150px;
	height: 115px;
	padding-left: 30px;
}

 #selection {
	position: relative;
	margin: 0;
	float: left;
	top:40px;
	right: 40px;
	font-size: 20px;
}
#selection li {
	display: block;
	float: left;
	padding-right: 35px;
	margin-left: 0;
}

.clearfix {
	content: "";
	display: block;
	clear: both;
}

#ties {
	width:720px;
	margin:auto;
}
#bannerTies {
	background: #F4F4F4;
	height: 365px;
	border-bottom: 1px solid #EAEAEA;
	/*border-image:url("perforated-bottom@2x.png") */	
}

#bannerTypes span {
	position: absolute;
}
#bannerTypes img {
	height:150px;
}
#bannerTypes li{
	float: left

}
#bannerTies img{ 
	height:155px;
	width:75px;
}

h1 {
	text-align: center;
	font-size: 50px;
}

ul {
	list-style: none;
}

