html {
	font-family: Tahoma;
}

#masterContainer {
	width:950px;
}
#nav #deals {
	height: 35px;
	background-color:#FA6938;
	margin: 0;
	font-size: 14px;
	width:120%;

}
#nav #deals li {
	float: left;

	padding-right: 15px;
	position: relative;
	top:8px;
	color: white;
}

#logo {
	float: left;
	width: 150px;
	height: 115px;
	padding-left: 30px;
}

 #selection {
	position: relative;
	margin: 0;
	float: left;
	top:40px;
	right: 40px;
	font-size: 20px;
}
#selection li {
	display: block;
	float: left;
	padding-right: 35px;
	margin-left: 0;
}

.clearfix {
	content: "";
	display: block;
	clear: both;
}

#ties {
	width:850px;
	margin-left: 10px;
	margin: auto;
}

#ties img {
	padding-right: 15px;
}

#tiesColor li {
	float: left;
	padding-right: 50px;
}



#bannerTies {
	background: #F4F4F4;
	height: 365px;
	width:1100px;
	border-bottom: 1px solid #EAEAEA;
	/*border-image:url("perforated-bottom@2x.png") */	
}

#types {
	width:870px;
	margin: 0 auto;
	height:300px;
}
.bannerTypes {
	position: relative;
	float: left;
	padding-right:12px;
	top:50px;
	height: 200px;
}

.bannerTypes span {
	position: absolute;
	z-index: 1;
	right:30px;
	top:20px;
	font-size: 20px;
	font-weight: bold;
}
.bannerTypes img {
	width:275px;
}

#bannerTies img{ 
	height:155px;
	width:75px;
}

h1 {
	text-align: center;
	font-size: 50px;
}
#ourStory {
	margin: 0 auto;
	width:870px;
	font-size: 36px;
	line-height: 1.5;
	height: 130px;
}

#ourStory span {
	text-align: center;
	position: relative;
}
#view  {
	text-align: center;
	position: relative;
	
}

#view a {
	text-decoration: none;
}

ul {
	list-style: none;
}
#tieInfo {
	margin: 0 auto;
	width:1005px;
	position: relative;
	top:150px;
	height: 500px;
}
.info {
	width:200px;
	float: left;
	margin-right: 30px;
}

.info img {
	width: 250px;
}



